.jest/
.storybook/
.vscode/

coverage/
generators/
node_modules/
src/

storybook-static/

.babelrc
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierrc
.prettierignore
.github

bitbucket-pipelines.yml
commitlint.config.js
jest.config.js
rollup.config.js
tsconfig.json


*.stories.jsx
*.stories.js
*.stories.mdx

*.test.js
*.test.jsx

src/**/stories.ts
src/**/stories.tsx

src/**/test.ts
src/**/test.tsx

src/storydocs/**/*.mdx
